.project_list_container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: visible;
}

.project_topic {
  padding-left: calc((100vw - var(--section-container-width))/2 + 20px);
  font-weight: bold;
  font-size: 1.2rem;
}

.project_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* pointer-events: none; */

  padding-left: calc((100vw - var(--section-container-width))/2 - 5px);
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: auto visible;
  -webkit-overflow-scrolling: touch; /* smooth on iOS */
  overscroll-behavior-x: contain;    /* keep scroll contained */
  touch-action: pan-x;               /* allow horizontal swipe */
}