.project_title_container {
    flex: 1;
    display: flex;
    padding-left: calc((100vw - var(--section-container-width))/2 + 20px);
    align-items: center;
    justify-items: left;
    margin-top: 20px;
}

.project_title {
    color: black;
    text-wrap: nowrap;
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 10px;
}

.project_topics_alternator {
    color: black;
    padding-left: 0.5rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    border-right: 2px solid black; /* typing cursor */
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;

    height: fit-content;
}

@media (max-width: 700px) {
    .project_title_container {
        padding-left: 0px;
    }
}